.container{
    max-width: 1680px;
    padding: 0 2%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 2; /* Garante que o texto fique NA FRENTE da luz */
    margin: 0 auto;
}

.whatsapp-float {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    z-index: 100;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    transition: 0.3s;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); box-shadow: 0 0 0 rgba(37, 211, 102, 0.7); }
    50% { transform: scale(1.1); box-shadow: 0 0 20px rgba(37, 211, 102, 0.5); }
    100% { transform: scale(1); box-shadow: 0 0 0 rgba(37, 211, 102, 0.7); }
}

html,body{
  scroll-behavior: smooth;
   overflow-x: hidden;
    background-color: #020617;
}

.glow-effect {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    filter: blur(120px); /* O "Blur" mágico */
    opacity: 0.4; /* Transparência */
    z-index: 1; /* Fica atrás do conteúdo */
    pointer-events: none; /* Permite clicar através da luz */
}

.glow-top-right {
    top: -150px;
    right: -100px;
    background: #3B82F6; /* Azul Real */
}

.glow-bottom-right {
    left: -150px;
    background: #02ac65; /* Roxo Neon */
    width: 700px;
    height: 700px;
    opacity: 0.3;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  padding: 20px 2%;
  background-color: rgba(2, 6, 23, 0.85); 
  backdrop-filter: blur(12px); 
  border-bottom: 1px solid rgba(255, 255, 255, 0.05); 
}

.logomarca a{
  color: white;
  text-decoration: none;
}

nav.mobile{display: none;}

nav.desktop ul li{
  display: inline-block;
  padding: 0 20px;
  list-style-type: none;
}

nav.desktop ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 1s
}

nav.desktop ul li a:hover{
  background: linear-gradient(90deg, #10B981 0%, #06B6D4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav.mobile {
  position: relative;
}

/* Botão */
.btn-mobile {
  color: white;
  z-index: 10001;
  position: fixed;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

/* Menu fullscreen */
nav.mobile ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(2, 6, 23);
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;      
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10000;
}

/* Quando abrir */
nav.mobile ul.open {
  transform: translateY(0);
}

/* Remove fundo individual */
nav.mobile ul li {
  list-style: none;
  margin: 20px 0;
}

nav.mobile ul li a {
  text-decoration: none;
  color: aliceblue;
  font-size: 28px;
  font-weight: 500;
  transition: 0.3s;
}

nav.mobile ul li a:hover {
  color: #02ff57;
}


/*Botão do WhatssApp*/

/*Home*/
section.home{
  height: 100vh;
  width: 100%;
  padding: 0 2%;
}

section.home h1{
  margin: 15px 0;
  text-align: center;
  font-size: 50px;
  color: white;
}

section.home span{
  text-align: center;
  display: block;
  font-size: 20px;
  color: white;
  width: 250px;
  padding: 10px;
  margin: 0 auto;
  background-color:#0af11d0e;
  border-radius: 60px;
  color: #08f34f;
}

section.home p{
  text-align: center;
  color: white;
}

.btns-home{
  justify-content: center;
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.orcamento{
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  width: 250px;
  padding: 20px;
  background: linear-gradient(90deg, #10B981 0%, #06B6D4 100%);
}

.orcamento a{
  text-decoration: none;
  font-size: 18px;
  color:white;
}

.see-projetos{
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  padding: 20px;
  background: #000000e3;
  
}

.see-projetos a{
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.arrow{
  margin: 10% auto;
  text-align: center;
}

.arrow svg{
  font-size: 30px;
  position: relative;
  top: 0;
  animation-name: arrow;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes arrow{
  0%{
    top: 0;
    bottom: 0;
  }

  50%{
    top: 20px;
    bottom: 20px;
  }

  100%{
    top: 0;
    bottom: 0;
  }
}

/*Fim da Home*/


/*Sobre*/
  section.sobre{
    background-color: #0a0a0a;
    padding: 1% 2%;
    
  }

  .sobre h2{
    padding-bottom: 60px;
    text-align: center;
    font-size: 40px;
    background: linear-gradient(90deg, #10B981 0%, #06B6D4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .content-sobre{
    margin: 0 auto;
    width: 60%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    border: 1px solid rgba(16, 185, 129, 0.3);
    padding: 30px;
  }

  .content-sobre p{
    font-size: 20px;
    color: oklch(87.2% 0.01 258.338);
    padding-bottom: 30px;
  }

  .cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    
  }

  .content-single{
    padding: 15px;
    width: 160px;
    border-radius: 15px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.05);
    transition: 1s ease;
  }

  .content-single:hover{
    border: 1px solid rgba(16, 185, 129, 0.3);
  }

  .content-single p {
    text-align: center;
    color: rgb(207, 206, 204);
  }


/*Fim da sobre*/

/*Serviços*/
section.servicos{
  background-color: #0a0a0a;
  
}

.container-servicos {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
  padding: 0 2%;
}

.servicos h2{
    padding-bottom: 60px;
    text-align: center;
    font-size: 40px;
    background: linear-gradient(90deg, #10B981 0%, #06B6D4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 .line{
  margin: 0 auto;
  width: 200px;
  height: 3px;
  background: linear-gradient(90deg, #10B981 0%, #06B6D4 100%);

}

.img-box{
  margin-bottom: 20px;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 15px;
}

.img-box > svg{
  margin: 15px auto;
  font-size: 30px;
  text-align: center;
  color: white;
}

.servicos .box-servicos{
  position: relative;
  top:0;
  width: 600px;
  height: 250px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  transition: background 0.5s ease-in-out, top 0.5s ease-in-out;
}

.box-servicos:hover{
  top: -15px;
}

.blue:hover{
  background: linear-gradient(
  to right,
  rgba(59, 130, 246, 0.3),
  rgba(6, 182, 212, 0.4)
);
}

.pink:hover{
 background: linear-gradient(
  to right,
  rgba(139, 92, 246, 0.3),
  rgba(236, 72, 153, 0.4)
);
}

.green:hover{
  background: linear-gradient(
  to right,
  rgba(16, 185, 129, 0.3),
  rgba(5, 150, 105, 0.4)
);

}

.orange:hover{
  background: linear-gradient(
  to right,
  rgba(249, 115, 22, 0.3),
  rgba(234, 179, 8, 0.4)
);
}

.box-servicos h3{
  padding-bottom: 15px;
  color: #d1d5db;
}

.box-servicos p{
  color: #9c9ea1;
}

/*Fim da serviços*/


/*Projetos*/

section.projetos{
  background-color: #0a0a0a;
  padding: 0 2%;
}

section.projetos h2{
  padding: 40px 0;
  text-align: center;
  font-size: 40px;
   background: linear-gradient(90deg, #10B981 0%, #06B6D4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-projetos{
  display: flex;
  gap: 20px;
  justify-content: center;

}

.projeto-single{
  margin: 30px 0;
  width: 450px;
  padding: 30px;
  height: 90vh;
  border-radius: 20px;
  background-color: oklch(0.269 0 0);
}

.img-projeto{
  width: 100%;
  height: 50%;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.projeto-single h3{
  padding: 10px 0;
  color: white;
  font-size: 20px;
}

.projeto-single p{
  color: #9c9ea1;
}

.projeto-single span{
  color: #d1d5db;
  display: inline-block;
  padding-top: 20px;
  padding-right: 30px;
}

/*Fim dos projetos*/



/*Tecnologias*/
  section.tecnologias{
    background-color: #0a0a0a;
    padding: 8% 2%;
  }

  .tecnologias h2{
    padding:30px 0;
    text-align: center;
    font-size: 40px;
    background: linear-gradient(90deg, #10B981 0%, #06B6D4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }

  .tecnologias p{
    text-align: center;
    font-size: 23px;
    color: #9c9ea1;
    padding: 20px 0;
  }

  .container-tec{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .cards-tec{
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    width: 100px;
    height: 100px;
    background-color:rgba(255, 255, 255, 0.05);
  }

  .cards-tec span{
    display: inline-block;
    color: white;
    margin-top: 10px;
  }


/*Fim das tecs*/

/*Banner*/

section.banner{padding: 0 2%;}

.banner-single{
  width: 55%;
  padding: 30px;
  height: 600px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  Background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
  z-index: 99;
  margin: 3% auto;
  border-radius: 30px;
}

.banner-single span{
  width: 233px;
  margin: 0 auto;
  padding: 12px;
  border-radius: 30px;
  background-color: #02ac65;
  color:rgb(245, 248, 250);
  font-weight: bold;
  text-align: center;
  display: block;
}

.banner-single h2{
  margin: 30px 0;
  font-size: 40px;
  color: aliceblue;
  font-weight: 400;
  text-align: center;
}

.banner-single p{
  text-align: center;
  font-size: 25px;
  color: oklch(87.2% 0.01 258.338);
  padding-bottom: 30px;
}

.banner-single p.hrs{
  font-size: 14px;
  padding-top: 20px;
}

.btn-banner{
  justify-content: center;
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.wpp{
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  width: 250px;
  padding: 20px;
  background: linear-gradient(90deg, #10B981 0%, #06B6D4 100%);
}


.wpp a{
  text-decoration: none;
  font-size: 18px;
  color:white;
}

/*Final do banner*/


/*Contato*/

section.contato{
  overflow: hidden;
  background-color: #0a0a0a;
  padding: 60px 2%;
}

.contato-single{
  border-radius: 30px;
  width: 25%;
  padding: 30px;
  margin: 0 auto;
  height: 95vh;
  background-color: rgb(255 255 255 / 5%);
}

.contato-single h2{
  color: white;
  font-weight: bold;
  padding: 15px 0;
}

.contato-single p{
  font-size: 20px;
  color: oklch(87.2% 0.01 258.338);
}

.btn-single{
  cursor: pointer;
  border-radius: 20px;
  margin: 34px 0;
  width: 100%;
  padding: 25px;
  background-color: rgb(255 255 255 / 5%);
  display: flex;
  align-items: center;
  position: relative;
  left: 0;
  transition: 1s;
}

.btn-single:hover{
  left: 15px;
}

.icon-contato{
  padding: 15px;
  border-radius: 20px;
}

.btn-single a{
  text-decoration: none;
  font-size: 23px;
  margin-left: 20px;
  color: white;
}

@media screen and (max-width:1350px) {
    .contato-single{
      width: 50%;
    }
    .projeto-single{
      margin: 30px 0;
      width: 100%;
      padding: 30px;
      height: 90vh;
      border-radius: 20px;
      background-color: oklch(0.269 0 0);
    }

    .container-projetos{
      flex-direction: column;

    }
}



@media screen and (max-width:880px){
  nav.desktop{display: none;}
  nav.mobile{display: block;}
  .content-sobre{
    width: 100%;
    flex-wrap: nowrap;
  }

  .contato-single{width: 100%;}
  
  section.home h1{font-size: 55px;}

  .btns-home{flex-direction: column;justify-content: center; align-items: center;}
  
}

@media screen and (max-width:768px){
  .banner-single{width: 100%;}
  .container-tec{flex-wrap: wrap;gap: 150px;}
}

@media screen and (max-width:620px){
  .container-tec{gap: 60px;}
}




